{% extends "base.html" %}
{% load static %}
{% block cssANDjs %}
    <link rel="stylesheet" href="/static/main_app/stylesheets/insa.css?{% now "U" %}">
    <script src="/static/main_app/javascript/insa.js?{% now "U" %}"></script>
{% endblock %}
{% block content %}
    {% if not a_d %}
        <div class="mery-sprite"></div>
        <div class="insa-text">
            <p>This is Mery.</p>
            <p>Mery can read English sentences.</p>
            <p>Sometimes, after reading, her expression changes.</p>
            <p>Let's send a message to Mery!</p>
            <button type="button" class="btn btn-primary" id="showTextBoxButton">next</button>
        </div>
        <div class="textbox">
            <p id="clickSendInstruction">Click the "send" button below and watch Mery's expression after she reads the sentence.</p>
            <textarea id="myTextBox" rows="4" cols="50" disabled>Hello Mery, it is nice to meet you and have this opportunity to see how you respond to my sentences.</textarea>
            <button type="button" class="btn btn-success" id="sendTextButton">send</button>
        </div>
        <div class="sentenceBox">
            <p id="sentence"><p>
        </div>
        <div class="explanationText">
            <p>Mery's expression changed.<p>
            <p>She seems to be happier after reading that sentence.</p>
            <button type="button" class="btn btn-primary" id="goToNextPage">next page</button>
        </div>
    {% else %}
        <p>you have already completed this section</p>
        <a href="{% url 'main_app:welcome' %}"><button class="btn btn-success" style="float:right;">Homepage</button></a>
    {% endif %}
{% endblock %}