<style>
    #progression {
        height: 50px;
        width: 750px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
    }
    .prog-ball {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-color: #072a70;
        position: absolute;
        z-index: 2;
        color: white;
        text-align: center;
        padding-top: 4px;
        font-size: 16px;
    }
    #ballOne {
        position: absolute;
    }
    #ballTwo {
        position: absolute;
        margin-left: 180px;
    }
    #ballThree {
        position: absolute;
        margin-left: 360px;
    }
    #ballFour {
        position: absolute;
        margin-left: 540px;
    }
    #ballFive {
        position: absolute;
        margin-left: 720px;
    }
    .prog-line {
        height:4px;
        width: 180px;
        background-color: #072a70;
        position: absolute;
        margin-top: 13px;
        z-index: 1;
    }
    #lineOneTwo {
        margin-left: 15px;
    }
    #lineTwoThree {
        margin-left: 195px;
    }
    #lineThreeFour {
        margin-left: 375px;
    }
    #lineFourFive {
        margin-left: 555px;
    }
</style>

<div id="progression">
    <div class="prog-ball" id='ballOne'>1</div>
    <div class="prog-line" id="lineOneTwo"></div>
    <div class="prog-ball" id='ballTwo'>2</div>
    <div class="prog-line" id="lineTwoThree"></div>
    <div class="prog-ball" id='ballThree'>3</div>
    <div class="prog-line" id="lineThreeFour"></div>
    <div class="prog-ball" id='ballFour'>4</div>
    <div class="prog-line" id="lineFourFive"></div>
    <div class="prog-ball" id='ballFive'>5</div>
</div>












